<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>NTManagement.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>6A666ED01D1ADA0000F590C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6A666EE91D1ADA0100F590C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>6A666EF41D1ADA0100F590C9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
